@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-violet-100;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    transform: rotate(0);
    transition: all 0.5s;
    @apply bg-black;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.open .hamburger-middle {
    display: none;
}

.dropdown {
    @apply px-1 py-1 space-y-1 flex flex-col right-5 absolute items-center text-base mt-20 bg-gray-100 rounded-xl w-auto top-5 drop-shadow-lg transition-all opacity-0;
}

.active {
    @apply flex opacity-100;
}

.activeNav {
    @apply bg-gray-200;
}
